<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Ride</title>
    <link rel="stylesheet" href="../static/css/formstyle.css">
</head>
<body>
    <div id="formPage" class="page">
        <div class="container">
            <h2>Book-Ride</h2>
            <form id="arrivalForm">
                <div class="form-group">
                    <label for="destination">Destination:</label>
                    <input type="text" id="destination" name="destination" placeholder="Enter destination...">
                </div>
                <div class="form-group">
                    <label for="arrival">Arrival:</label>
                    <input type="text" id="arrival" name="arrival" placeholder="Enter arrival...">
                </div>
                <div class="pickup-location">
                    <label for="pickup">Pickup Point</label>
                    <input type="text" id="pickup" name="pickup" placeholder="Enter Pick-up point...">
                </div>
                <label for="date">Date:</label>
                    <input type="date" id="departuredate" required>
                    <label for="time">Time:</label>
                    <input type="time" id="departuretime" required>
                    <!-- <label for="car-id">Car ID:</label>
                    <input type="text" id="carid" required> -->
                    <!-- <label for="seats">Available Seats:</label>
                    <input type="number" id="seats" min="1" value="1" required> -->
                    <label for="contact-number">contact Number:</label>
                    <input type="tel" id="contactnumber" pattern="[0-9]{10}" required>
                <div class="form-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
            <a href="#savedData" onclick="showPage('savedData')">View Saved Data</a>
        </div>
    </div>
    
    <div id="savedData" class="page">
        <div class="container">
            <h2>Saved Data</h2>
            <div id="savedInfo"></div>
            <a href="#formPage" onclick="showPage('formPage')">Back to Form</a>
        </div>
    </div>
    <script src="book.js"></script>
</body>
</html>