<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's Get Goofy!</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../static/css/contactUs.css">
</head>
<body>
  <header>
    <h1>contact Our Organization </h1>
  </header>
  <main>
    <p>Need a good laugh or some top-notch silliness? Reach out and let's get your giggle on!</p>
    <section class="contact-info">
      <span> Call me at: </span>
      <a href="tel:555-GOOFY-GU">555-GOOFY-GU (555-466-3948)</a>
    </section>
    <section class="social-media">
      <a href="https://twitter.com/Nirmal02Anand" class="social-button facebook" onclick="openSocialMedia('facebook')">
        <!-- <img src="images/facebook.png" alt="Facebook"> -->
        <i class="fa-brands fa-twitter hover:bg-blue-500 hover:scale-150 hover:rounded-md hover:duration-700 "></i>
      </a>
      <a href="https://github.com/RachitGupta06" class="social-button twitter" onclick="openSocialMedia('twitter')">
        <!-- <img src="images/twitter.png" alt="Twitter"> -->
        <!-- <i class="fa-brands fa-instagram hover:bg-blue-500 hover:scale-150 hover:rounded-md hover:duration-700"></i> -->
        <i class="fa-brands fa-github hover:bg-blue-500 hover:scale-150 hover:rounded-md hover:duration-700"></i>
      </a>
      <a href="https://www.youtube.com/" class="social-button youtube" onclick="openSocialMedia('youtube')">
        <!-- <img src="images/youtube.png" alt="YouTube"> -->
        <i class="fa-brands fa-youtube hover:bg-blue-500 hover:scale-150 hover:rounded-md hover:duration-700"></i>
      </a>
    </section>
  </main>
  <script src="https://kit.fontawesome.com/58a810656e.js" crossorigin="anonymous"></script>
  <script src="contactUs.js"></script>
</body>
</html>
