<style>
    p {
        font-size: 20px;
        font-family: Arial, sans-serif;
        color: #333;
        margin-top: 25vh;
        padding: 0;
        text-align: center;
}
</style>    
<p>    
    Dear Customer, 
    <br>
    <br>
    Your car has been booked successfully. Details have been sent to your email. 
    <br>
    <br>
    Thank you for using our service, 
    <br>
    The Carpool Team 
    <br>
    <br>
    <br>
    <br>    
    <a href="{{ url_for('index') }}">Click here to go back to the home page</a>  
</p>